streamlit==1.27.0
streamlit-multipage==0.0.18
pywhatkit==5.0.0
bokeh==2.4.3  
streamlit-bokeh-events==0.1.2 
folium==0.14.0
streamlit_folium==0.4.0
geopy==2.4.0
overpy==0.6
geocoder==1.38.1
openpyxl==3.1.2
